<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5">
  
  <!-- UR5 Robot Description -->
  <!-- Universal Robots UR5 manipulator arm -->
  
  <!-- Import UR5 macro -->
  <xacro:include filename="$(find ur5_description)/urdf/ur5_macro.xacro"/>
  
  <!-- Define UR5 parameters -->
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  
  <!-- UR5 macro instance -->
  <xacro:ur5_robot
    prefix=""
    joint_limited="false"
    shoulder_pan_lower_limit="${-pi}"
    shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}"
    shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}"
    elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}"
    wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}"
    wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}"
    wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
  />
  
</robot>
